const path = require ('path');
const CONFIG_PATH = '/etc/ssl/certs/{{ main_domain }}';

const APP_SETTINGS = {
  // Origin
  PROTOCOL: '{{ app_protocol }}',
  PORT: {{ app_port }},
  HOST: '{{ app_domain }}',
  SSL_KEY: path.join (CONFIG_PATH, '{{ app_ssl_key }}'),
  SSL_CERT: path.join (CONFIG_PATH, '{{ app_ssl_crt }}'),
  ACCEPT_CONTENT_TYPE: 'application/json; charset=utf-8',
  ACCEPT_TYPE: ['application/json', 'application/x-www-form-urlencoded'],
  POWER_BY: 'AlphaCoreTS',
  DEFAULT_TENANT_ID: 'agama',

  LOCALE_CODE: 'vi-VN',
  TIMEZONE: 'Asia/Ho_Chi_Minh',

  POSTGRES_CONNECTION_STRING: {
    host: '{{ postgres.ip }}' ,// Change this to your PostgreSQL server's address if it's remote
    database: '{{ postgres.name }}',
    user: '{{ postgres.user }}',
    password: '{{ postgres.pass }}',
    port: '{{ postgres.port }}' // Default PostgreSQL port is 5432
  },

  // output logs
  LOG_LEVEL: '{{ logging.level }}',
  ZIPKIN: {
    NAME: '{{ zipkin.name }}',
    ENDPOINT: '{{ zipkin.endpoint }}'
  },
  RSA: {
    PRIVATE_KEY: '{{ rsa.private_key }}',
    PUBLIC_KEY: '{{ rsa.public_key }}',
  },
  CORS: [
   'https://{{ main_domain }}'
  ],
  PARTNERS: {
    APPOTAPAY: {
        CONNECTION: {
            API_URI: '{{ partners.appotapay.connection.api_uri }}',
            PARTNER_CODE: '{{ partners.appotapay.connection.partner_code }}',
            API_KEY: '{{ partners.appotapay.connection.api_key }}',
            SECRET_KEY: '{{ partners.appotapay.connection.secret_key }}'
        },
        HEADERS: {
           AUTH_HEADER_KEY: 'X-APPOTAPAY-AUTH',
           AUTH_HEADER_SCHEME: 'Bearer',
           AUTH_HEADER_CONTENT_TYPE: 'application/json'
        },
        ENDPOINTS: {
           TOPUP_CHARGING: {
               METHOD: 'POST',
               ENDPOINT: '/api/v1/service/topup/charging'
           },
           BILL_TRANSACTIONS: {
               METHOD: 'GET',
               ENDPOINT: '/api/v1/service/topup/transaction/{partnerRefId}'
           }
        }
    }
  }
};
 
module.exports = APP_SETTINGS;
